:root {
    /* ### colors ### */
    /*  ## key ##
        s - soft
        d - dark
        vd - very dark 
    */

    /* Primary */
    --text-vd-blue: rgb(29, 30, 53);
    --text-s-red: hsl(14, 88%, 65%);

    /* Gradient */
    --bg-s-violet: hsl(273, 75%, 66%);
    --bg-s-blue: hsl(240, 73%, 65%);

    /* Neutral */
    --text-vd-gray-blue: rgb(74, 75, 94);
    --text-d-gray-blue: rgb(120, 120, 135);

    /* Dividers */
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
}

main {
    width: 100%;
    padding: 10rem 1.5rem 5rem;
}

.accordion-component-wrapper {
    position: relative;
}

.accordion-component {
    background-color: #fff;
    border-radius: 25px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-img,
.hero-img-shadow {
    padding: 3em;
    width: 335px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.hero-img {
    top: -9.75rem;
}

.hero-img-shadow {
    top: -3.25rem;
}

.hero-box-img {
    display: none;
}

.faq-section {
    display: flex;
    flex-direction: column;
    padding: 8rem 5% 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

.accordion-wrapper {
    margin: 1rem 0 3.25rem;
}

.accordion-item {
    border-bottom: 1px solid var(--lightGrayishBlue);
    padding: 1rem 0;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

h3 {
    color: var(--text-vd-blue);
    font-size: .9rem;
    font-weight: 400;
}

.accordion-icon {
    align-self: center;
}

.panel {
    color: var(--text-d-gray-blue);
    font-size: .8rem;
    line-height: 1.25rem;
    padding-right: 1.5rem;
    margin-top: .5rem;
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: all 0.4s ease-in;
}

h3.selected {
    font-weight: 700;
}

.accordion-icon.selected {
    transform: rotate(180deg);
}

.accordion-header:hover h3.selected {
    color: var(--text-vd-blue);
}

@media screen and (min-width: 760px) and (max-width: 1220px) {
    main {
        padding: 10rem 5rem 5rem;
    }

    .faq-section {
        padding: 8rem 10% 0;
    }

    .accordion-header:hover h3 {
        color: var(--text-s-red);
    }
}

@media screen and (min-width: 1220px) {

    body {
        justify-content: space-around;
        align-items: center;
    }

    main {
        padding: 0;
        margin: 5rem 15rem 0;
        width: auto;
    }

    .accordion-component {
        flex-direction: row;
        height: 72.5vh;
        overflow: hidden;
    }

    .hero-img,
    .hero-img-shadow {
        padding: 0;
        width: 33vw;
        top: 10%;
        left: 20%;
    }

    .hero-img-shadow {
        width: 65vw;
        top: -20vw;
        left: -8.5%;
    }

    .hero-box-img {
        display: block;
        position: absolute;
        top: 27.5vh;
        left: -9vw;
        width: 13.5vw;
        z-index: 2;
    }

    .faq-section {
        padding: 0;
        margin: 3.25rem 0 2.5rem 45%;
        width: 37.5%;
    }

    h2 {
        text-align: left;
    }

    .accordion-wrapper {
        margin: 1rem 0;
    }

    .accordion-item {
        padding: .75rem 0;
    }

    .accordion-header:hover h3 {
        color: var(--text-s-red);
    }

    h3 {
        font-size: .95rem;
    }

    .panel {
        font-size: .85rem;
    }

}